
/* Vertically Aligning*/

html,body{
	height: 1000px;
}

.container{
	display: table;  /*** attaches a table for alignment **/
	max-width: 400px;
	height: 100%;
	min-height: 100%;

}
.form-signin{
	display: table-cell;   /****  attaches a table cell for alignment ****/
	vertical-align: middle;
}
.box{
	border:1px red solid;
}